body {
    background: #83cce2;
    font-family: 'Orbitron', sans-serif;
}

.navbar {
    display: flex;
    background: rgba(0, 0, 0, 0.156);
    border-bottom: 1px solid #232120;
    box-shadow: 0 2px 10px #232120;
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}


.title {
    color: #ffffff;
    font-size: 2.2rem;
    letter-spacing: 18px;
    font-weight: bolder;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.156);
    border-top: 1px solid #232120;
    box-shadow: 0 2px 10px #232120;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 70px;
    justify-content: center;
    margin-top: 30px;
    color: white;
    font-size: 1.2rem;
}

.connect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template {
    padding-top: 8px;
    font-size: small;
    color: #000000;
}

.links {
    margin-top: 8px;
    padding-left: 100px;
    display: flex;
}

.links i {
    padding-right: 5px;
}

.links a {
    padding-right: 50px;
    background-color: transparent;
    color: #000000;
    font-size: small;
}

.hover {
    transition: transform 0.3s ease-out;
}

.hover:hover {
    transform: scale(1.03);
}

@media screen and (max-width:1023px) {
    .title {
        font-size: 1.5rem;
        letter-spacing: 10px;
    }
}

@media screen and (max-width:768px) {
    .title {
        font-size: 3vw;
        letter-spacing: 5px;
    }

    .links {
        padding-left: 30px;
    }
}

@media screen and (max-width:600px) {
    .title {
        font-size: 4vw;
        letter-spacing: 1px;
    }

    .footer {
        margin-top: 40px;
        font-size: 0.8rem;
    }

    .template {
        font-size: 0.6rem;
    }

    .links {
        padding-left: 10px;
    }

    .links a {
        padding-right: 10px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width:320px) {
    .title {
        font-size: 3vw;
        letter-spacing: 1px;
    }
}