body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #83cce2;
    font-family: 'Orbitron', sans-serif;
}


.navbar {
    display: flex;
    background: rgba(0, 0, 0, 0.156);
    border-bottom: 1px solid #232120;
    box-shadow: 0 2px 10px #232120;
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}


.title {
    color: #ffffff;
    font-size: 2.2rem;
    letter-spacing: 18px;
    font-weight: bolder;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 7vw;
    flex-wrap: wrap;
}

.input {
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.event {
    width: 220px;
}

.add {
    background-color: rgb(0, 150, 0);
    padding-left: 15px;
    padding-right: 15px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.todo-item {
    display: grid;
    grid-template-columns: 200px 140px 60px;
    align-items: center;
    margin-bottom: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.delete-todo-button {
    background-color: darkred;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 3px 5px 3px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.156);
    border-top: 1px solid #232120;
    box-shadow: 0 2px 10px #232120;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 70px;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    margin-top: auto;
}


.connect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template {
    padding-top: 8px;
    font-size: small;
    color: #000000;
}

.links {
    margin-top: 8px;
    padding-left: 100px;
    display: flex;
}

.links i {
    padding-right: 5px;
}

.links a {
    padding-right: 50px;
    background-color: transparent;
    color: #000000;
    font-size: small;
}

.hover {
    transition: transform 0.3s ease-out;
}

.hover:hover {
    transform: scale(1.03);
}

@media screen and (max-width:1023px) {
    .title {
        font-size: 1.5rem;
        letter-spacing: 10px;
    }
}

@media screen and (max-width:768px) {
    .title {
        font-size: 3vw;
        letter-spacing: 5px;
    }

    .links {
        padding-left: 30px;
    }
}

@media screen and (max-width:600px) {
    .title {
        font-size: 4vw;
        letter-spacing: 1px;
    }

    .footer {
        margin-top: 40px;
        font-size: 0.8rem;
    }

    .template {
        font-size: 0.6rem;
    }

    .links {
        padding-left: 10px;
    }

    .links a {
        padding-right: 10px;
        font-size: 0.6rem;
    }

    .todo-item {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .title {
        font-size: 3vw;
        letter-spacing: 1px;
    }
}