body {
    background: radial-gradient(circle at top left, #0f0c29, #302b63, #24243e);
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

.navbar {
    display: flex;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 255, 255, 0.3);
    box-shadow: 0 2px 10px rgba(0, 255, 255, 0.2);
    border-radius: 30px;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width:45px;
    height: auto;
    transition: transform 0.3s ease;
    margin-left:1.5rem;
    display: block;
}

.logo:hover {
    transform: scale(1.2);
}