body {
    background: #e1d9c4;
    font-family: 'Orbitron', sans-serif;
}

.navbar {
    display: flex;
    background: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #4A3B32;
    box-shadow: 0 2px 10px #4A3B32;
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 45px;
    height: auto;
    margin-left: 1.5rem;
    display: block;
}

.rulebook {
    margin-right: 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    font-family: 'Orbitron', sans-serif;
}

.title {
    color: #4A3B32;
    font-size: 2rem;
    letter-spacing: 18px;
    font-weight: bolder;
}

.rule {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.active {
    display: flex;
}

.rule-content {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.rule-img {
    max-width: 400px;
    width: 90%;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-btn button {
    background: black;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.heading {
    color: #5e4c42;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
}

.won {
    color: #08a65c;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
}

.lose {
    color: #e31c4e;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.game-button {
    background-color: transparent;
    border: none;

    cursor: pointer;
    overflow: hidden;
}

.game-img {
    height: 200px;
}

.score {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0 0;
}

table {
    width: 75%;
    text-align: center;
    border: 2px solid #4A3B32;
    box-shadow: 0 0 15px #4A3B32;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    border: 2px solid #4A3B32;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #ffffff;
    width: 25%;
}

th {
    background: rgba(0, 255, 247, 0);
    color: #4A3B32;
}

td {
    background: rgba(0, 0, 0, 0.3);
}

.reset-score {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.reset-btn {
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    border-top: 1px solid #4A3B32;
    box-shadow: 0 2px 10px #4A3B32;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 70px;
    justify-content: center;
    margin-top: 30px;
    color: white;
    font-size: 1.2rem;
}

.connect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template {
    padding-top: 8px;
    font-size: small;
    color: #4A3B32;
}

.links {
    margin-top: 8px;
    padding-left: 100px;
    display: flex;
}

.links i {
    padding-right: 5px;
}

.links a {
    padding-right: 50px;
    background-color: transparent;
    color: #4A3B32;
    font-size: small;
}

.hover {
    transition: transform 0.3s ease-out;
}

.hover:hover {
    transform: scale(1.03);
}

@media screen and (max-width:1023px) {
    .title {
        font-size: 1.5rem;
        letter-spacing: 10px;
    }

    .game-img {
        height: 150px;
    }

    .rulebook {
        font-size: 1rem;
        padding: 7px 10px 7px 10px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .won {
        font-size: 1.5rem;
    }

    .lose {
        font-size: 1.5rem;
    }

    .reset-btn {
        font-size: 0.7rem;
        padding: 7px 10px 7px 10px;
    }
}

@media screen and (max-width:768px) {
    .title {
        font-size: 3vw;
        letter-spacing: 5px;
    }

    .heading {
        font-size: 1.2rem;
    }

    .links {
        padding-left: 30px;
    }

    .won {
        font-size: 1.2rem;
    }

    .lose {
        font-size: 1.2rem;
    }

    .logo {
        width: 30px;
        margin-left: 1.5rem;
    }

    th,
    td {
        padding: 7px 15px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:600px) {
    .title {
        font-size: 4vw;
        letter-spacing: 1px;
    }

    .rulebook {
        font-size: 0.5rem;
        padding: 2px 5px 2px 5px;
    }

    .heading {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    .game-img {
        height: 80px;
    }

    .won {
        font-size: 1.2rem;
    }

    table {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .lose {
        font-size: 1.2rem;
    }

    .footer {
        margin-top: 40px;
    }

    .logo {
        width: 30px;
        margin-left: 1.5rem;
    }

    th,
    td {
        padding: 5px 10px;
        font-size: 0.6rem;
    }

    .footer {
        font-size: 0.8rem;

    }

    .template {
        font-size: 0.6rem;
    }

    .links {
        padding-left: 10px;
    }

    .links a {
        padding-right: 10px;
        font-size: 0.6rem;
    }

}

@media screen and (max-width:320px) {
    .title {
        font-size: 3vw;
        letter-spacing: 1px;
    }

    .game-img {
        height: 70px;
    }
}